@model WebApplication.Models.device

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.device_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
